@charset "UTF-8";
/* line 14, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 105, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/fancy-buttons-2.0.0.alpha.1/lib/stylesheets/_fancy-buttons.scss */
.fb-reset, input[type=submit] {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: url('/public/images/button_bg.png?1299282296') repeat-x bottom left;
  margin: 0;
  width: auto;
  line-height: 1.3em;
  overflow: visible;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  padding: 0.1em 0.5em;
  border: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
/* line 7, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.fb-reset, input[type=submit] {
  *display: inline;
}
/* line 100, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/fancy-buttons-2.0.0.alpha.1/lib/stylesheets/_fancy-buttons.scss */
.fb-reset::-moz-focus-inner, input[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 101, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/fancy-buttons-2.0.0.alpha.1/lib/stylesheets/_fancy-buttons.scss */
.fb-reset:focus, input[type=submit]:focus {
  outline: none;
}

/* line 108, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/compass-0.11.beta.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* line 16, ../sass/screen.scss */
.headings, h1 {
  font-family: "Yanone Kaffeesatz", sans;
}

/* line 19, ../sass/screen.scss */
html {
  background: #d3dd8a;
  -moz-background-size: 80px 80px;
  -webkit-background-size: 80px 80px;
  -o-background-size: 80px 80px;
  background-size: 80px 80px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(25%, rgba(255, 255, 255, 0.1)), color-stop(25%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.1)), color-stop(75%, rgba(255, 255, 255, 0.1)), color-stop(75%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(left top, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(left top, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
}

/* line 24, ../sass/screen.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
  background: #fff;
  margin: 50px auto 30px;
  color: #2d4159;
  padding: 20px;
  width: 85%;
  min-width: 600px;
  max-width: 1250px;
  min-height: 280px;
  position: relative;
  line-height: 1.25em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 39, ../sass/screen.scss */
body:before {
  content: " ";
  z-index: -2;
  position: absolute;
  left: -4px;
  right: 8px;
  top: 8px;
  height: 260px;
  background: #2b445c;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) -2px 3px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) -2px 3px 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.15) -2px 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.15) -2px 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
/* line 51, ../sass/screen.scss */
body:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 2px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background: #000;
  z-index: -1;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 1px;
}

/* line 62, ../sass/screen.scss */
a {
  color: #2d4159;
}
/* line 63, ../sass/screen.scss */
a:hover {
  color: #233245;
}

/* line 66, ../sass/screen.scss */
p.flash {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.6)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  border: 3px solid rgba(255, 255, 255, 0.5);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: rgba(0, 0, 0, 0.6) 0 -1px;
  color: #fff;
  margin: 0 auto;
  position: absolute;
  top: -51px;
  left: 0;
  padding: .4em .8em;
  width: 100%;
  text-align: center;
  border-top: 0;
}
/* line 81, ../sass/screen.scss */
p.flash:empty {
  height: 0px;
  overflow: hidden;
  padding: 0;
  border-width: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  background: none;
}

/* line 91, ../sass/screen.scss */
h1 {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #42678d), color-stop(100%, #223447));
  background-image: -moz-linear-gradient(#42678d, #223447);
  background-image: linear-gradient(#42678d, #223447);
  -moz-box-shadow: rgba(255, 255, 255, 0.15) 0 1px inset, white 0 1px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px inset, white 0 1px;
  -o-box-shadow: rgba(255, 255, 255, 0.15) 0 1px inset, white 0 1px;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px inset, white 0 1px;
  margin: -20px -20px 15px;
  padding: 20px;
  padding-right: 180px;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  position: relative;
  text-shadow: #192836 0 -2px;
  font-size: 2.5em;
}
/* line 105, ../sass/screen.scss */
h1:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  height: 15px;
  bottom: -16px;
  border-top: 1px solid #e5e5e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(170, 170, 170, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(170, 170, 170, 0.5), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(170, 170, 170, 0.5), rgba(255, 255, 255, 0));
  z-index: 1;
}

/* line 116, ../sass/screen.scss */
h2, h3, h4 {
  color: #2d4159;
  font-size: 1.3em;
  line-height: 1.5em;
  margin: .2em 0 .5em;
}

/* line 123, ../sass/screen.scss */
.comment {
  font-size: .9em;
  border-top: 1px solid #ddd;
  background: #f5f5f5;
  padding: 1em 0;
  border-bottom: 1px dashed #ddd;
  color: #6c7c9a;
}
/* line 130, ../sass/screen.scss */
.comment p {
  padding-left: 12px;
  border-left: 5px solid rgba(45, 65, 89, 0.5);
}
/* line 134, ../sass/screen.scss */
.comment p:first-child {
  font-weight: bold;
  color: #2d4159;
  padding-left: 0;
  border: 0;
  padding-bottom: 1em;
}
/* line 141, ../sass/screen.scss */
.comment + .comment {
  border-top: none;
}
/* line 142, ../sass/screen.scss */
.comment + h3, .comment + h4 {
  margin: 0 0 .5em;
}
/* line 145, ../sass/screen.scss */
.comment:nth-last-of-type(1) {
  border-bottom: 1px solid #ddd;
  margin-bottom: 2em;
}

/* line 151, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 155, ../sass/screen.scss */
.top-button, a.new_article, .article_actions a[href$='edit'], .article_actions a[data-method='delete'] {
  position: absolute;
  top: 26px;
  right: 20px;
  display: inline-block;
  padding: 4px 11px;
  font-size: .9em;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
  box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
  -moz-border-radius: 1.2em;
  -webkit-border-radius: 1.2em;
  -o-border-radius: 1.2em;
  -ms-border-radius: 1.2em;
  -khtml-border-radius: 1.2em;
  border-radius: 1.2em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(#ffffff, #cccccc);
  background-image: linear-gradient(#ffffff, #cccccc);
  text-shadow: #fff 0 1px;
  color: #999999;
  text-decoration: none;
}
/* line 168, ../sass/screen.scss */
.top-button:hover, a.new_article:hover, .article_actions a[href$='edit']:hover, .article_actions a[data-method='delete']:hover {
  color: #555;
}
/* line 171, ../sass/screen.scss */
.top-button:active, a.new_article:active, .article_actions a[href$='edit']:active, .article_actions a[data-method='delete']:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9d9d9), color-stop(100%, #f5f5f5));
  background-image: -moz-linear-gradient(#d9d9d9, #f5f5f5);
  background-image: linear-gradient(#d9d9d9, #f5f5f5);
}

/* line 185, ../sass/screen.scss */
#sidebar + ul {
  padding-right: 180px;
}
/* line 187, ../sass/screen.scss */
#sidebar + ul li {
  padding-right: 30px;
}
/* line 188, ../sass/screen.scss */
#sidebar + ul:after {
  position: absolute;
  right: 180px;
  top: 0;
  bottom: 0;
  content: " ";
  width: 1px;
  background: #e5e5e5;
}

/* line 195, ../sass/screen.scss */
#articles {
  margin: -15px -20px -20px;
  padding: 0 20px 0;
  min-width: 550px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right: 1px solid #e2e2e2;
}
/* line 203, ../sass/screen.scss */
#articles li {
  border-bottom: 1px dashed #e5e5e5;
  padding: 1em 0 .8em;
  margin-right: 20px;
  font-size: 1.2em;
  position: relative;
}
/* line 209, ../sass/screen.scss */
#articles li:last-child {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom: 0;
}
/* line 213, ../sass/screen.scss */
#articles li > a:first-child {
  font-weight: bold;
  display: block;
  color: #2d4159;
  padding-bottom: .1em;
}
/* line 220, ../sass/screen.scss */
#articles .actions {
  border-left: 1px dotted #ddd;
  padding-left: 8px;
  margin-left: 3px;
  line-height: 1em;
  position: relative;
  top: 2px;
}
/* line 226, ../sass/screen.scss */
#articles .actions a {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 227, ../sass/screen.scss */
#articles .actions a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 229, ../sass/screen.scss */
#articles .tag_list {
  display: inline-block;
  font-size: .8em;
  padding-top: .5em;
  color: #999;
}

/* line 237, ../sass/screen.scss */
.article_actions {
  border-bottom: 1px dashed #ddd;
  margin-bottom: .7em;
  padding-bottom: .7em;
  font-size: .9em;
  overflow: hidden;
  *zoom: 1;
  text-align: right;
}
/* line 244, ../sass/screen.scss */
.article_actions a {
  float: left;
  color: #999999;
}
/* line 246, ../sass/screen.scss */
.article_actions a:hover img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 248, ../sass/screen.scss */
.article_actions img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  position: relative;
  top: 2px;
}
/* line 251, ../sass/screen.scss */
.article_actions a[href$='edit'], .article_actions a[data-method='delete'] {
  text-decoration: none;
  float: none;
  margin-left: .5em;
  padding: 4px 12px 3px 8px;
}
/* line 258, ../sass/screen.scss */
.article_actions a[data-method='delete'] {
  right: 90px;
}

/* line 263, ../sass/screen.scss */
p.tag_list {
  border-top: 1px dashed #ddd;
  margin: 1em 0;
  padding-top: .5em;
  font-size: .9em;
  color: #999;
}

/* line 271, ../sass/screen.scss */
#sidebar {
  font-weight: bold;
  width: 150px;
  padding: 15px 10px;
  float: right;
  margin: -15px -20px 0 0;
  position: relative;
  z-index: 1;
}
/* line 279, ../sass/screen.scss */
#sidebar ul {
  margin: .5em 0;
  font-weight: normal;
}
/* line 282, ../sass/screen.scss */
#sidebar ul a {
  color: #6c7c9a;
}

/* line 286, ../sass/screen.scss */
.input, form input[type=text], form textarea {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: .3em .4em;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: #1f2d3e;
  font-size: 1.3em;
}
/* line 295, ../sass/screen.scss */
.input:focus, form input[type=text]:focus, form textarea:focus {
  outline: 0;
  -moz-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
  -webkit-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
  -o-box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
  box-shadow: rgba(129, 177, 223, 0.7) 0 0 5px 1px inset;
  border-color: #81b1df;
  background-color: #fff;
}

/* line 304, ../sass/screen.scss */
form input[type=text] {
  margin: 0;
}
/* line 308, ../sass/screen.scss */
form p {
  padding: 0;
  margin-bottom: .6em;
}
/* line 312, ../sass/screen.scss */
form label {
  color: #6c7c9a;
  font-size: .9em;
  font-weight: bold;
  line-height: 1.5em;
  padding-bottom: .2em;
  display: inline-block;
  text-transform: uppercase;
}
/* line 321, ../sass/screen.scss */
form textarea {
  height: 12em;
  font-size: 1.1em;
}

/* line 328, ../sass/screen.scss */
input[type=submit] {
  -moz-box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset, rgba(0, 0, 0, 0.3) 0 1px 2px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset, rgba(0, 0, 0, 0.3) 0 1px 2px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset, rgba(0, 0, 0, 0.3) 0 1px 2px 0;
  box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset, rgba(0, 0, 0, 0.3) 0 1px 2px 0;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #111b24;
  border-bottom-color: #0a1016;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #49719a), color-stop(50%, #324e6a), color-stop(100%, #283e55));
  background-image: -moz-linear-gradient(#49719a 0%, #324e6a 50%, #283e55 100%);
  background-image: linear-gradient(#49719a 0%, #324e6a 50%, #283e55 100%);
  text-shadow: rgba(12, 23, 35, 0.5) 0 -1px 0px;
  font-family: 'lucida grande', lucida, sans-serif;
  background-color: #36699b;
  color: white;
  font-size: 11px;
  padding: .2em .9em .3em;
  font-size: 1.2em;
}
/* line 97, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/fancy-buttons-2.0.0.alpha.1/lib/stylesheets/_fancy-button-themes.scss */
input[type=submit]:hover, input[type=submit]:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d6082), color-stop(50%, #304a65), color-stop(100%, #23374a));
  background-image: -moz-linear-gradient(#3d6082 0%, #304a65 50%, #23374a 100%);
  background-image: linear-gradient(#3d6082 0%, #304a65 50%, #23374a 100%);
  -moz-box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset;
  -o-box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset;
  box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset;
  background-color: #324e6a;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-1.8.7-p302/gems/fancy-buttons-2.0.0.alpha.1/lib/stylesheets/_fancy-button-themes.scss */
input[type=submit]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a4259), color-stop(50%, #2e4862), color-stop(100%, #304a65));
  background-image: -moz-linear-gradient(#2a4259 0%, #2e4862 50%, #304a65 100%);
  background-image: linear-gradient(#2a4259 0%, #2e4862 50%, #304a65 100%);
  border: 1px solid #090e13;
  border-bottom-color: #05080b;
  -moz-box-shadow: #1c2b3a 0 0 0.6em 0.3em inset, rgba(255, 255, 255, 0.5) 0 1px;
  -webkit-box-shadow: #1c2b3a 0 0 0.6em 0.3em inset, rgba(255, 255, 255, 0.5) 0 1px;
  -o-box-shadow: #1c2b3a 0 0 0.6em 0.3em inset, rgba(255, 255, 255, 0.5) 0 1px;
  box-shadow: #1c2b3a 0 0 0.6em 0.3em inset, rgba(255, 255, 255, 0.5) 0 1px;
  background-color: #2c455d;
}
